body {
    font-size: 12px;
    font-family: 'Noto Serif', serif;
    color: rgba(0,0,0,0.9);
    line-height: 1.6em;
    letter-spacing: 0.3px;
    min-width: 320px;
    background: #ffffff;
}

a {
    color: rgba(0,0,0,0.9);
}

a:hover {
    color: #000000;
}

/*header*/
.header {
    margin-top: 50px;
}

.header .logo {
    font-size: 16px;
}

.header .tagline {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    font-style: italic;
    margin-top: 3px;
}

.header .tagline span {
    font-style: normal;
}

.header .social-link {
    font-size: 11px;
    margin-top: 5px;
}

.header .navigation {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.header .navigation li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    font-size: 14px;
    margin-right: 20px;
    display: block;
    color: rgba(0,0,0,0.5);
    padding-bottom: 3px;
    cursor: pointer;
}

.header .navigation li.active {
    color: rgba(0,0,0,0.9);
    border-bottom: 2px solid rgba(0,0,0,0.9);
}

.article {
    margin-top: 50px;
}

.article .title {
    font-style: italic;
    font-size: 18px;
    margin: 0;
}

.article .content {
    margin-top: 20px;
}

img.full-width {
    display: block;
    width: 90%;
    height: auto;
    border-radius: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-caption {
    position: relative;
    bottom: 20px;
    font-style: italic;
    color: rgba(0,0,0,0.5);
}

.article-list {
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

.article-list:before {
    content: '';
    display: block;
    height: 2px;
    width: 23px;
    background: rgba(0,0,0,0.9);
    margin-bottom: 30px;
}

.article-list li {
    list-style: none;
    margin-top: 3px;
}

.main-content {

}

.footer {
    margin-bottom: 100px;
}